#footer.clear
    // Section One
    section.one_quarter
        nav
            a(href='#') Forgot your password?
    // Section Two
    section.one_quarter
        nav
            a(href='#') Need help?
    // Section Three
    section.one_quarter
        nav
            a(href='#') Contact us
    // Section Four
    section.one_quarter.lastbox
        nav
            a(href='#') Lorem ipsum dolor sit
    // / Section
// Copyright
.wrapper2.row4
    footer#copyright.clear
        p.fl_left
            | Copyright &copy; 2020 - All Rights Reserved -
            a(href='#')  ebookstolearn.org
        //- p.fl_right
        //-    | Template by OS Templates
