#footer.clear
    //h1
    //    a(href='/') EbooksForLearning.org

    // Section One
    section.one_quarter
        nav
            a(href='/forgotPassword') Forgot your password?
    // Section Two
    section.two_quarter
        nav
            a(href='#') Need help?
    // Section Three
    section.three_quarter
        nav
            a(href='#') Contact us
    // Section Four
    section.four_quarter
        nav
            a(href='#') Lorem ipsum dolor sit
    // Section Five
    section.five_quarter
        a.header-date.span= moment(Date.now()).format('MMMM DD. YYYY')

        //nav
        //    a(href='/') EbooksForLearning.org
    //        a.span= datetime.toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})

// Copyright
.wrapper.row4
    footer#copyright.clear
        a.Copyright &copy; 2020 - All Rights Reserved - EbooksforLearning.org
        //- p.fl_right
        //-    | Template by OS Templates
