header#header.clear
    #hgroup
        h1
            a(href='#') EbooksToLearn.org
        h2 Ebooks for university courses

    nav
        ul
            li
                a Today: #{datetime}

            li
                button.button2
                    span Help
            li
                button.button
                    span Login

