header#header.clear
    #hgroup
        h1
            a(href='#') EbooksToLearn.org
        h2 Ebooks for university courses

    nav
        ul
            li
                button.button2
                    span Help
            li.last
                a.header-button(href='/login')
                    span
                        | Login
                //a(class='.header-button' href='/login' role='button')

                //button.header-button
                    span Login

