extends index

block content
    .wrap-forgot
        h1.forgot-text So you forgot your password!
        h2.forgot-text No problem, just send me your email address and check your mail
        br
        br

        form.forgot-form
            wrap-input(data-validate='Valid email is required: ex@abc.xyz')
                input#forgot-input-email(type='email' name='email' placeholder='Email' required)
            br
            .container-forgot-btn
            button.forgot-btn Submit

