//doctype html
//html
//  head
//    meta(charset='UTF-8')
//    meta(name='viewport' content='width=device-width, initial-scale=1.0')
//    link(rel='stylesheet' href='/stylesheets/style.css')
//    link(rel='shortcut icon' type='image/png', href='images/favicon.png')
//    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
//    title EbookWorld | Online learning experience
//
//  body
//    //HEADER
//    include _header
//      //Content
//      section.overview
//
//      // FOOTER
//    include _footer

doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='stylesheets/layout.css' type='text/css')
  //if lt IE 9
    script(src='scripts/html5shiv.js')
  link(rel='shortcut icon' type='image/png', href='images/favicon.png')

  title Ebooks | #{title}

//HEADER
.wrapper.row1
  include _header

// content
block content

// Footer
.wrapper.row3
  include _footer

//script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js')
//script(src='/js/login.js')
script(src='/js/bundle.js')


