extends index

block content
    .wrapper.row2
      #container.clear
        // Slider
        section#slider
          a(href='#')
            img(src='images/slider_image.jpg' alt='', width=1000, height=300)
        // main content
        #homepage
          // Services
          section#services.clear
            article.one_third
              figure
                img(src='images/favicon.png' width='290' height='180' alt='' )
                figcaption
                  h2 Indonectetus facilis
                  p Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.
                  footer.more
                    a(href='#') Read More &raquo;
            article.one_third
              figure
                img(src='images/favicon.png' width='290' height='180' alt='')
                figcaption
                  h2 Indonectetus facilis
                  p Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.
                  footer.more
                    a(href='#') Read More &raquo;
            article.one_third.lastbox
              figure
                img(src='images/favicon.png' width='290' height='180' alt='')
                figcaption
                  h2 Indonectetus facilis
                  p Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.
                  footer.more
                    a(href='#') Read More &raquo;

          section#intro.last.clear
            article
              figure
                img(src='images/favicon.png' width='450' height='250' alt='')
                figcaption
                  h2 Indonectetus facilis leo nibh
                  p
                    | This is a W3C compliant free website template from
                    a(href='https://www.os-templates.com/' title='Free Website Templates') OS Templates
                    | . For full terms of use of this template please read our
                    a(href='https://www.os-templates.com/template-terms') website template licence
                    | .
                  p
                    | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more HTML5 templates visit
                    a(href='https://www.os-templates.com/') free website templates
                    | .
                  footer.more
                    a(href='#') Read More &raquo;
          // / Introduction
        // / content body
