
html{overflow-y:scroll;} /* Forces a scrollbar when the viewport is larger than the websites content - CSS3 */

body{margin:0; padding:0; font-size:15px; font-family:Georgia, serif; color:#919191; background-color:#232323;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none; color: #0c0d42;}

code{font-weight:normal; font-style:normal; font-family:Georgia, serif;}

.fl_left{float:left;}
.fl_right{float:right;}

img{
    margin: 0 30px 0 0;
    padding:0; border:none; line-height:normal; vertical-align:middle; alignment: center;}
.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D6D6D6; text-align:center;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

address, article, aside, figcaption, figure, footer, header, nav, section{display:block; margin:0; padding:0;}

q{display:block; padding:0 10px 8px 10px; color:#979797; background-color:#ECECEC; font-style:italic; line-height:normal;}
q:before{content:'“ '; font-size:26px;}
q:after{content:' „'; font-size:26px; line-height:0;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left;}

.row1{color:#e6810e; background-color:#201e4a;}
.row1 a{color:#e6810e; background-color:#201e4a;}
.row2{color:#0c0d42; background-color:#e6810e;}
.row2 a{color:#0c0d42; background-color:#e6810e;}
.row3{color:#989898; background-color:#201e4a; }
.row3 a{color:#FF9900; background-color:#201e4a; font-size: 15px;}
.row4, .row4 a{color:#919191; background-color:#201e4a; text-align: center}

/*----------------------------------------------Generalise-------------------------------------*/

#header, #container, #footer, #copyright{display:block; width:1000px; margin:0 auto;}

nav ul{margin:0; padding:0; list-style:none;}

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-size:32px; font-weight:normal; font-style:italic; line-height:normal;}
address{font-style:normal;}

blockquote, q{display:block; padding:8px 10px; color:#979797; background-color:#ECECEC; font-style:italic; line-height:normal;}
blockquote:before, q:before{content:'“ '; font-size:26px;}
blockquote:after, q:after{content:' „'; font-size:26px; line-height:0;}

form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
input, textarea, select{font-size:18px; font-family:Georgia, serif; padding: 5px; min-width: 400px}

.one_quarter, .two_quarter, .three_quarter, .four_quarter{display:block; float:right; margin:10px 10px 0 0; padding-left: 30px;}
.five_quarter{display:block; float:left; margin:10px 10px 0 0; font-weight: 700}

.one_third, .two_third, .three_third{display:block; float:left; margin:0 30px 0 0;}
.one_third{width:300px;}
.two_third{width:600px;}
.three_third{width:900px; float:none; margin-right:0; clear:both;}

.lastbox{margin-right:0;}

/*----------------------------------------------Header-------------------------------------*/

#header{height: 100px; padding-top: 15px;}

#header #hgroup{float:left; margin:0;}
#header #hgroup h1, #header #hgroup h2{font-weight:bold; font-style:normal; text-transform:none;}
#header #hgroup h1{font-size:36px;}
#header #hgroup h2{font-size:18px;}

#header nav{display:block; float:right; margin-top: 20px; padding: 0;}
/*#header nav ul{padding:0 20px;}*/
#header nav li{display:inline; margin-right:5px; }
#header nav li.last{display:inline; margin-right:50px ;}
#header nav li a{color:#201e4a; background-color: #e6810e; font-size: 18px;  }

/*----------------------------------------------Content Area-------------------------------------*/

#container{padding:30px 0;}
#container section{display:block; width:100%; margin:0 0 30px 0; padding:0;}
#container .last{margin:0;}
#container .more{text-align:right;}

/* ------Slider-----*/

#container #slider{}

/* ------Main Content-----*/

#container #homepage{display:block; width:100%; line-height:1.8em;}

#container #homepage #services{}
#container #homepage #services article{}
#container #homepage #services article figure{}
#container #homepage #services article figure img{margin:0 0 15px 20px; padding:4px; border:1px solid #D6D6D6;}
#container #homepage #services article figure figcaption{margin:0 -10px 15px 20px;}
#container #homepage #services article figure h2{font-size:14px; font-weight:bold;}
#container #homepage #services article figure footer{}

#container #homepage #intro{}
#container #homepage #intro article{}
#container #homepage #intro article figure{}
#container #homepage #intro article figure img{float:right; margin:0 0 10px 0; padding:4px; border:1px solid #D6D6D6;}
#container #homepage #intro article figure figcaption{float:left; width:460px;}
#container #homepage #intro article figure h2{}
#container #homepage #intro article figure footer{}

/*----------------------------------------------Footer-------------------------------------*/

#footer{padding: 20px 0 20px 10px; font-size:12px; line-height:1.0em; }

/*#footer section h2.title{margin:0 0 25px 0; padding:0; color:#FFFFFF; background-color:#201e4a; font-size:12px; font-weight:bold; text-transform:uppercase;}*/

/*#footer section nav li{margin:100px 0 5px 100px; padding:0 0 5px 0; border-bottom:1px solid #555555;}*/
/*#footer section nav li.last{margin:0;}*/

/*----------------------------------------------Copyright-------------------------------------*/

#copyright{padding: 10px; text-align: right; font-style: italic;}
/*#copyright p{margin:0; padding: 0;}*/

.header-button {
    padding: 3px 9px 3px 9px;
    font-family: Georgia, serif;
    margin-right: 30px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #e6810e;
    text-align: center;
    font-size: 18px;
    font-style: inherit;
    width: fit-content;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    border: solid #e6810e;
}

/*.header-logout-button{*/

/*}*/

.button2 {
    padding: 5px;
    font-family: Georgia, serif;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #201e4a;
    color: #e6810e;
    text-align: center;
    font-size: 18px;
    font-style: inherit;
    min-width: 100px;
    width: fit-content;
    height: 30px;
    /*transition: all 0.5s;*/
    cursor: pointer;
    border: solid #e6810e;
}

.header-button span {
    cursor: pointer;
    display: initial;
    position: relative;
    transition: 0.5s;
}

.header-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.header-button:hover span {
    padding-right: 25px;
}

.header-button:hover span:after {
    opacity: 1;
    right: 0;
}

.header-date.span{
    padding: 5px 11px 5px 11px;;
    margin-right: 20px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: default;
}

.nav__user-img {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    margin-right: 30px;
}

/*----------------------------------------Login page--------------------------------------------*/

* {
    font-family: Georgia, serif;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-txt1 {
    font-size: 16px;
    line-height: 1.5;
    color: #201e4a;
}
.login-limiter {
    width: 100%;
    margin: 0 auto;
}

.wrap-login {
    width: 100%;
    min-height: 435px;
    background: #e6810e;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 170px 33px 95px;
}

.login-form {
    width: 320px;
}

.login-form-title {
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
}

.wrap-input {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

#login-input-email {
    outline: none;
    border: none;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;

    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 30px 0 68px;
}

#login-input-password {
    outline: none;
    border: none;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;

    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 30px 0 68px;
}

.login-btn {
    outline: none !important;
    border: none;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;

    width: 400px;
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #201e4a;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    margin-bottom: 20px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login-btn:hover {
    background: #57b846;
}

.button-forgot {
    background: transparent;
    color: #201e4a;
    text-align: center;
    font-size: 18px;
    font-style: inherit;
    min-width: 100px;
    width: fit-content;
    height: 30px;
    /*transition: all 0.5s;*/
    cursor: pointer;
    border: solid #e6810e;
}

/*--------------------------------- FROM NAV --------------------------------------- */

.header-user-img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}

/*--------------------------------------- ALERT ---------------------------------------*/
.alert {
    position: fixed;
    margin-top: 120px;
    top: 0;
    width: fit-content;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
    padding: 20px 20px;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
    background-color: #20bf6b;
}
.alert--error {
    background-color: #f21b18;}

.wrap-error{
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    background-color: #201e4a;
}
.heading-secondary {
    margin: 40px 40px;
    text-align: center;
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #e6810e;
    letter-spacing: 0.1rem;
    line-height: 1.3;
}

.heading-smaller {
    margin: 30px 30px;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #e6810e;
    letter-spacing: 0.1rem;
    line-height: 1.3;
}

.heading-error {
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#ff7730),
            to(#eb4d4b)
    );
    background-image: linear-gradient(to right, #ff7730, #eb4d4b);
    font-size: 3.5rem;
}

.error__msg {
    font-size: 1.5rem;
    font-weight: 700;
    max-width: 50rem;
    margin: 0 auto;
}

#oops{
    font-size: 100px;
    text-align: center;
}

/*-------------------------------------USER ACCOUNT ------------------------------------------*/

.user-view {
    background-color: #201e4a;
    /*max-width: 1000px;*/
    margin: 0 auto;
    /*!*min-height: 100px;*!*/
    border-radius: 3px;
    /*overflow: hidden;*/
    /*-webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);*/
    /*box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);*/
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    display: flex;
}

.user-view__menu {
    -webkit-box-flex: initial;
    -ms-flex: 250px 0 0;
    flex: 250px 0 0;
    background-color: #e6810e;
    /*background-image: -webkit-gradient(*/
    /*        linear,*/
    /*        left top,*/
    /*        right bottom,*/
    /*        from(#7dd56f),*/
    /*        to(#28b487)*/
    /*);*/
    padding: 20px 0;
}
.user-view__content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 100px;
}
.user-view__form-container {
    /*max-width: 68rem;*/
    margin: 0 auto;
    padding: 0 20px;
}

.side-nav--active,
.side-nav li:hover {
    border-left: 4px solid #fff !important;
}
.side-nav--active a {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
.side-nav a:link,
.side-nav a:visited {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #201e4a;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.side-nav a:hover,
.side-nav a:active {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
}
.side-nav svg {
    height: 1.9rem;
    width: 1.9rem;
    fill: #201e4a;
    margin-right: 2rem;
}

.admin-nav {
    margin-top: 5.5rem;
}
.admin-nav__heading {
    margin: 0 5rem 1.5rem 4rem;
    padding-bottom: 3px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #201e4a;
    /*border-bottom: 1px solid currentColor;*/
}

.form__group:not(:last-child) {
    margin-bottom: 2.5rem;
}

.form__input{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 15px;
}

.form__input:focus {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
    border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
    border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
    color: #bbb;
}

.btn-save-settings {
    text-align: center;
    padding: 5px;
    font-size: 18px;
    width: 150px;
    height: 35px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #e6810e;

}

.form__label {
    color: #e6810e;
    display: block;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 0.75rem;
}

.form__photo-upload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.6rem;
}

.form__user-photo {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.form__upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.form__upload:focus + label {
    outline: 3px solid #55c57a;
    outline-offset: 3px;
}

.form__upload + label {
    color: #e6810e;
    display: inline-block;
    text-decoration: none;
    /*border-bottom: 1px solid #55c57a;*/
    padding: 3px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
}
.form__upload + label:hover {
    /*background-color: #55c57a;*/
    color: #fff;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.btn--green {
    background-color: #e6810e;
    color: #201e4a;
}
.btn--green::after {
    background-color: #55c57a;
}

.btn--small {
    padding: 5px !important;
    font-size: 18px !important;
    font-weight: 550;
}

.btn-small,
.btn-small:link,
.btn-small:visited {
    background-color: #55c57a;
    color: #fff;
    font-size: 1.4rem;
    padding: 1.25rem 3rem;
    border-radius: 10rem;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    border: none;
}

.btn-small:hover {
    background-color: #7dd56f;
}
/*--------------------------------------- FORGOT PASSWORD -------------------------------- */

.wrap-forgot{
    text-align: center;
    width: 100%;
    min-height: 390px;
    padding: 20px 20px;
    background-color: #201e4a;
}

.forgot-text {
    margin: 40px 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #e6810e;
    letter-spacing: 0.1rem;
    line-height: 1.3;
}

#forgot-input-email{
    position: center;
    outline: none;
    border: none;
    font-size: 16px;
    line-height: 1.5;
    color: #666666;
    /*display: block;*/
    width: 300px;
    background: #e6e6e6;
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 30px 0 68px;
    margin-bottom: 20px;
}

.forgot-btn {
    outline: none !important;
    /*border-color: #e6810e;*/
    font-size: 15px;
    /*line-height: 3.5;*/
    color: #201e4a;
    text-transform: uppercase;

    width: 100px;
    /*height: 30px;*/
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #e6810e;
    /*display: -webkit-box;*/
    /*display: -webkit-flex;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*justify-content: center;*/
    align-items: center;
    padding: 8px 8px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.forgot-btn:hover {
    background: #57b846;
}
