
html{overflow-y:scroll;} /* Forces a scrollbar when the viewport is larger than the websites content - CSS3 */

body{margin:0; padding:0; font-size:15px; font-family:Georgia, serif; color:#919191; background-color:#232323;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

code{font-weight:normal; font-style:normal; font-family:Georgia, serif;}

.fl_left{float:left;}
.fl_right{float:right;}

img{margin:0; margin-right:30px; padding:0; border:none; line-height:normal; vertical-align:middle; alignment: center;}
.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D6D6D6; text-align:center;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

address, article, aside, figcaption, figure, footer, header, nav, section{display:block; margin:0; padding:0;}

q{display:block; padding:0 10px 8px 10px; color:#979797; background-color:#ECECEC; font-style:italic; line-height:normal;}
q:before{content:'“ '; font-size:26px;}
q:after{content:' „'; font-size:26px; line-height:0;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left;}

.row1{color:#e6810e; background-color:#201e4a;}
.row1 a{color:#e6810e; background-color:#201e4a;}
.row2{color:#0c0d42; background-color:#e6810e;}
.row2 a{color:#0c0d42; background-color:#e6810e;}
.row3{color:#989898; background-color:#201e4a; }
.row3 a{color:#FF9900; background-color:#201e4a; font-size: 18px;}
.row4, .row4 a{color:#919191; background-color:#0c0d42; text-align: center}

/*----------------------------------------------Generalise-------------------------------------*/

#header, #container, #footer, #copyright{display:block; width:1000px; margin:0 auto;}

nav ul{margin:0; padding:0; list-style:none;}

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-size:32px; font-weight:normal; font-style:italic; line-height:normal;}

address{font-style:normal;}

blockquote, q{display:block; padding:8px 10px; color:#979797; background-color:#ECECEC; font-style:italic; line-height:normal;}
blockquote:before, q:before{content:'“ '; font-size:26px;}
blockquote:after, q:after{content:' „'; font-size:26px; line-height:0;}

form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
input, textarea, select{font-size:12px; font-family:Georgia, serif;}

.one_quarter, .two_quarter, .three_quarter, .four_quarter{display:block; float:right; margin:0 20px 0 0;}
.one_quarter{width:230px;}
.two_quarter{width:460px;}
.three_quarter{width:690px;}
.four_quarter{width:920px; float:none; margin-right:0; clear:both;}

.one_third, .two_third, .three_third{display:block; float:left; margin:0 30px 0 0;}
.one_third{width:300px;}
.two_third{width:600px;}
.three_third{width:900px; float:none; margin-right:0; clear:both;}

.lastbox{margin-right:0;}

/*----------------------------------------------Header-------------------------------------*/

#header{padding:20px 0;}

#header #hgroup{float:left; margin:0 0 20px 0;}
#header #hgroup h1, #header #hgroup h2{font-weight:bold; font-style:normal; text-transform:none;}
#header #hgroup h1{font-size:36px;}
#header #hgroup h2{font-size:18px;}

#header nav{display:block; float:right; margin:10px 0 0 0; padding:20px 0; color:#e6810e;}
#header nav ul{padding:0 20px;}
#header nav li{display:inline; margin-right:25px; }
#header nav li.last{margin-right:0;}
#header nav li a{color:#e6810e; font-size: 18px; padding-right: 100px;}
#header nav li a:hover{color:#FF9900; background-color:#0c0d42;}

/*----------------------------------------------Content Area-------------------------------------*/

#container{padding:30px 0;}
#container section{display:block; width:100%; margin:0 0 30px 0; padding:0;}
#container .last{margin:0;}
#container .more{text-align:right;}

/* ------Slider-----*/

#container #slider{}

/* ------Main Content-----*/

#container #homepage{display:block; width:100%; line-height:1.8em;}

#container #homepage #services{}
#container #homepage #services article{}
#container #homepage #services article figure{}
#container #homepage #services article figure img{margin:0 0 15px 20px; padding:4px; border:1px solid #D6D6D6;}
#container #homepage #services article figure figcaption{margin:0 -10px 15px 20px;}
#container #homepage #services article figure h2{font-size:14px; font-weight:bold;}
#container #homepage #services article figure footer{}

#container #homepage #intro{}
#container #homepage #intro article{}
#container #homepage #intro article figure{}
#container #homepage #intro article figure img{float:right; margin:0 0 10px 0; padding:4px; border:1px solid #D6D6D6;}
#container #homepage #intro article figure figcaption{float:left; width:460px;}
#container #homepage #intro article figure h2{}
#container #homepage #intro article figure footer{}

/*----------------------------------------------Footer-------------------------------------*/

#footer{padding: 20px 0 20px 200px; font-size:12px; line-height:1.2em;}

/*#footer section h2.title{margin:0 0 25px 0; padding:0; color:#FFFFFF; background-color:#201e4a; font-size:12px; font-weight:bold; text-transform:uppercase;}*/

#footer section nav li{margin:100px 0 5px 100px; padding:0 0 5px 0; border-bottom:1px solid #555555;}
#footer section nav li.last{margin:0;}

/*----------------------------------------------Copyright-------------------------------------*/

#copyright{padding:20px 100px;}
#copyright p{margin:0; padding: 0;}

.button {
    font-family: Georgia, serif;
    /*border-radius: 5px;*/
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #e6810e;
    border: none;
    color: #201e4a;
    text-align: center;
    font-size: 18px;
    font-style: inherit;
    width: 100px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
}

.button2 {
    font-family: Georgia, serif;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #201e4a;
    color: #e6810e;
    text-align: center;
    font-size: 18px;
    font-style: inherit;
    width: 100px;
    height: 30px;
    /*transition: all 0.5s;*/
    cursor: pointer;
    border: solid #e6810e;
}


.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
